@font-face{
  font-family: 'nk170';
  src: url('../fonts/nk170.woff2') format('.woff2'),
       url('../fonts/nk170.woff') format('.woff');
  font-weight: 400;     
}
@font-face{
  font-family: 'rosalinda';
  src: url('../fonts/rosalinda.woff2') format('.woff2'),
       url('../fonts/rosalinda.woff') format('.woff');
  font-weight: 400;     
}