html{
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
html,
body{
    height: 100%;
    // position: relative;
    // overflow-x: hidden;
    // max-width: 1920px;
}
p{
  margin: 0;
  line-height: 0px;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
a{
  display: inline-block;
  text-decoration: none;
  // color: $menu;
}
ul,
li{
  margin: 0;
  padding: 0;
  list-style: none;
}
body{
  font-family: "ElMessiri-Regular";
  font-weight: 400;
  // font-size: 15px;
  // line-height: 24px;
  // color: $text;
  background-color: $background;
  margin-bottom: -5px;
}
.container{
  max-width: 1170px;
  width: 100%;
  padding: 0px 15px;
  margin: 0 auto;
}
.breadcrumbs{
  &__inner{
    // padding: 45px 0px;
    margin: 45px 0px;
  }
  &__list{
    li{
      display: inline-block;
      font-size: 26px;
      position: relative;
      & + li{
        padding-left: 24px;
        &::before{
          content: "-";
          position: absolute;
          left: 8px;
          color: $text;
        }
      }
      &:last-child{
        a,
        span{
          color: $menu;
        }
      }
      a{
        color: $text;
        transition: all .3s;
        &:hover{
          color: $menu;
        }
      }
    }
  }
}